/* import the fonts */

@font-face {
  font-family: fraunces;
  src: url(../fonts/Fraunces_9pt-Bold.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-Medium.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  --Dark_cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  /* ### Neutral */

  --Very_dark_blue: hsl(212, 21%, 14%);
  --Dark_grayish_blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: montserrat;
  background-color: var(--Cream);
}

.parent {
  position: relative;
  width: 540px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.parent img {
  width: calc(100% / 2);
  height: 100%;
}

.perfume-img {
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.perfume-img-mob {
  display: none;
}

.perfume {
  width: calc(100% / 2);
  height: 100%;
  padding: 20px;
  background-color: var(--White);
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

.perf-word {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 5px;

  color: var(--Dark_grayish_blue);
}

.perfume h2 {
  font-family: fraunces;
  margin: 10px 0;
  text-transform: capitalize;
}

.perfume p {
  font-size: 14px;
  color: var(--Dark_grayish_blue);
  padding: 1px;
  line-height: 23px;
  margin-bottom: 25px;
}

.price-a {
  color: var(--Dark_cyan);
  font-family: fraunces;
  font-weight: bold;
  font-size: 30px;
  margin-right: 20px;
}

.price-s {
  text-decoration: line-through;
  color: var(--Dark_grayish_blue);
}

button {
  border: none;
  margin: 30px auto;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--Dark_cyan);
  color: var(--White);
}

button:hover {
  background-color: var(--Very_dark_blue);
}

.perfume-img:hover {
  filter: grayscale(25%);
  -ms-filter: grayscale(25%);
  -webkit-filter: grayscale(25%);
}
button img {
  margin-right: 10px;
}

/* Mobile Design */

@media (min-width: 375px) and (max-width: 1023px) {
  .parent {
    flex-direction: column;
    height: fit-content;
    width: 335px;
  }
  .parent img {
    width: 100%;
  }
  .perfume-img {
    display: none;
  }
  .perfume-img-mob {
    display: block;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    height: calc(100% / 2);
    width: 100%;
  }
  .perfume {
    height: calc(100% / 2);
    width: 100%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
  }

  h2 {
    line-break: auto;
  }
}

@media (min-width: 1024px) and (max-width: 1044px) {
  .perfume {
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
  }
}
